[user]
	email = yevgeniy.gorbachev@gmail.com
	name = yevagorbachev
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	path = nvim
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	path = nvim
